@font-face{
    font-family: 'HarmonyOS_Sans';
    font-display: swap;
    src: url('../font/HarmonyOS_Sans.ttf') format("truetype");
}
@font-face{
    font-family: 'XiaoWuBold';
    font-display: swap;
    src: url('../font/XiaoWuBold.ttf') format("truetype");
}
@font-face{
    font-family: 'HLBS';
    font-display: swap;
    src: url('../font/HLBS.ttf') format("truetype");
}
body {
    font-family: 'XiaoWuBold';
}